[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ACEsimFit"]
	path = ACEsimFit
	url = https://github.com/cran/ACEsimFit
	shallow = true
	registered = true
